@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to the eLibrary - Open eBooks Directory</h2>
    <p>e-Library is a convenient and affordable online resource giving you easy access to a wide range of quality books. Our library will nurture a life-long love of reading for children and families.
When you subscribe to e-Library, you open up a world of adventure, giving your children access to age-appropriate and fun-filled books including read-along books, audio books and e-books. Parents and children of all age groups will love e-Library!</p>
    <p><a href="~/BookList/" class="btn btn-primary btn-lg"> View Book Directory &raquo;</a></p>
</div>
