<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="h2padding">
        Welcome to Library World <b>@User.Identity.Name</b> <br />
        <br />
        You may browse to Book Directory Now.<br/>
        <p><a href="~/BookList/" class="btn btn-primary btn-lg"> View Book Directory &raquo;</a></p>
    </div>
</body>
</html> 