.topDiv {
    width: 100%;
    margin: 10px auto;
    background-color: #f2f2f2;
    text-align: left;
    padding: 2%;
}

.topTable {
    margin: 2% auto;
    padding: 5px;
    width: 100%;
}

.tdTable{
    text-align:center;
}

.linkdisabled {
    cursor: default;
    pointer-events: none;
}

.h2padding{
    padding-top:30px;
}
